<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.repository.mybatis.MemberMapper">

    <insert id="save">
        insert into member (memberId,password,name,email,address,gender,birth)
        values(#{id},#{password},#{name},#{email},#{address},#{gender},#{birth})
    </insert>

    <select id="findById" resultType="Member">
        select * from member where memberId = #{id}
    </select>

    <select id="findAll" resultType="Member">
        select * from member
    </select>

    <delete id="delete">
        delete from member
    </delete>
</mapper>