<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/header_nav.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/shoppingbasket.css">
    <link rel="stylesheet" href="/css/goods.css">
</head>
<body>
    <nav>
        <div class="menu">
          <div class="menu_1">
            <div align="right">
              <a href="/views/newaccount.html">회원가입</a> |
              <a href="/views/login.html">로그인</a> | 
              <a href="">고객센터</a>
            </div>
          </div>
          <div class="menu_2">
            <div class = "logo">
              <a href="/index.html"><img src="/image/kurlyLogo.svg" alt="" class="kurlylogo"></a>
              <a href="/index.html">마켓컬리</a>
            </div>
            <div class="searchbox">
              <input type="text" placeholder="검색어를 입력해주세요" 
              class="search">
              <button id="main_search" type="submit"></button>
            </div>
            <div class="menu_2_buttons">
              <button class="like" aria-label="찜하기" type="button"></button>
              <button class="myorder" aria-label="장바구니" 
              onclick="location.href='/views/shoppingbasket.html'"></button>
            </div>
          </div>
        </div>
    </nav>
    <div class="stickymenu">
      <div class="menu_3">
        <div class="categori">
          <div class="categori_1">
            <span class="categori_image"></span>
            <span>카테고리</span>
            <div class="categori_down">
              <ul>
                <li><a href="/views/categories/categories_vegetable.html">채소</a></li>
                <li><a href="">과일 견과 쌀</a></li>
                <li><a href="">수산 해산 건어물</a></li>
                <li><a href="">정육 계란</a></li>
                <li><a href="">국 반찬 메인요리</a></li>
                <li><a href="">샐러드 간편식</a></li>
                <li><a href="">면 양념 오일</a></li>
                <li><a href="">생수 음료 우유 커피</a></li>
                <li><a href="">간식 과자 떡</a></li>
                <li><a href="">베이커리 치즈델리</a></li>
                <li><a href="">건강식품</a></li>
                <li><a href="">와인 위스키</a></li>
                <li><a href="">전통주</a></li>
              </ul>
            </div>
          </div>
          
        </div>
      
        <ul class="menu_3_list">
          <li class="list_li">
            <span class="list_span"><a href="/views/categories/categories_newgoods.html" class="list_span">신상품</a></span>
          </li>
          <li class="list_li">
            <span class="list_span"><a href="/views/categories/categories_best.html" class="list_span">베스트</a></span>
          </li>
          <li class="list_li">
            <span class="list_span"><a href="/views/categories/categories_sale.html" class="list_span">알뜰쇼핑</a></span>
          </li>
          <li class="list_li">
            <span class="list_span"><a href="/views/event.html" class="list_span">특가/혜택</a></span>
          </li>
        </ul>

        <div class="delivery_btn">
          <a href="/views/delivery_inform.html">
            <div class="delivery_btn_1">
              <span class="delivery_btn_word">샛별 택배</span>
              배송안내
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="shopbasket">
        <h2 class="shopbasket_title">장바구니</h2>
        
        <div class="shopbasket_main">
            <div class="shopbasket_list">
                <ul class="shopbasket_list_ul">
                    <li>
                        <div class="shopbasket_list_goods">
                            <a href=""><img src="/image/codang_corner.jpg" alt=""></a>
                            <div class="basket_goods_name">초당 옥수수 5입</div>
                            <div class="count_btn_sub">
                                <button class="downbtn" type="button" onclick="count('minus')"></button>
                                <div class="countnum" id="resultnum">1</div>
                                <button class="upbtn" type="button" onclick="count('plus')"></button>
                            </div>
                            <div class="basket_price_div">
                                <span class="basket_goods_price" id="price_hidden" hidden>6,435</span>
                                <span class="basket_goods_price" id="price_change">6,435</span>
                                <span class="basket_goods_price">원</span>
                                <span class="basket_price_btn_span"><button type="button" class="basket_price_btn"></button></span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="shopbasket_address">
                <div class="shopbasket_address_1">
                    <h3 class="shopbasket_address_1_1">배송지</h3>
                    <div class="shopbasket_address_1_2">
                        <p class="shopbasket_address_1_2_1">
                            <em>배송지를 등록</em>하고<br> 
                            <span class="css-1bmnxg7 e1321nl40">구매 가능한 상품을 확인하세요!</span>
                        </p>
                        <button class="shopbasket_address_1_2_2" type="button" height="36" radius="3">
                            <span class="shopbasket_address_2_2_1">
                                <img src="/image/ico_search.svg" alt="" class="shopbasket_address_2_2_2">주소 검색
                            </span>
                        </button>
                    </div>
                </div>
                <div class="shopbasket_price">
                  <div class="shopbasket_price_1">
                    <span class="shopbasket_price_1_1">상품금액</span>
                    <span class="shopbasket_price_1_2"><span id="shopbasket_total_price"></span><span class="shopbasket_price_1_3">원</span></span>
                  </div>
                  <div class="shopbasket_delivery_price">
                    <span class="shopbasket_delivery_price_1">배송비</span>
                    <span class="shopbasket_delivery_price_2">
                      +<span id="delivery_price">3,000</span><span class="shopbasket_delivery_price_2_1">원</span>
                    </span>
                  </div>
                  <div class="shopbasket_final_price">
                    <span class="shopbasket_final_price_1">결제예정금액</span>
                    <span class="shopbasket_final_price_2">
                      <strong class="shopbasket_final_price_2_1" id="final_price">13,900</strong>
                      <span class="shopbasket_final_price_2_2">원</span>
                    </span>
                  </div>
                </div>
                <div class="shopbasket_button">
                  <button class="shopbasket_button_1" type="button" disabled="" height="56" radius="3">
                    <span class="shopbasket_button_1_1">배송지를 입력해주세요</span>
                  </button>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <hr width="100%">
        <div class="footer_total">
          <div class="footer_main">
            <div class="footer_1">
              <div class="footer_1_center">고객행복센터</div>
              <div class="footer_1_number">1644-1107 
                <span style="font-size: 16px; margin: 0 0 0 8px;">월~토 오전 7시 - 오후 6시</span>
              </div>
              <div class="footer_btn">
                <button class="btn_footer">카카오톡 문의</button>
                <div>
                  <div class="footer_btn_word">월~토요일 | 오전 7시 - 오후 6시</div>
                  <div class="footer_btn_word">일/공휴일 | 오전 7시 - 오후 1시</div>
                </div>
              </div>
              <div class="footer_btn">
                <button class="btn_footer" style="min-width: 140px;">1:1 문의</button>
                <div>
                  <div class="footer_btn_word">365일</div>
                  <div class="footer_btn_word">고객센터 운영시간에 순차적으로 답변해드리겠습니다.</div>
                </div>
              </div>
              <div class="footer_btn">
                <button class="btn_footer">대량주문 문의</button>
                <div>
                  <div class="footer_btn_word">월~금요일 | 오전 9시 - 오후 6시</div>
                  <div class="footer_btn_word">점심시간 | 낮 12시 - 오후 1시</div>
                </div>
              </div>
              <div class="notMember">
                비회원 문의: help@kurlycorp.com<br>
                비회원 대량주문 문의: kurlygift@kurlycorp.com
              </div>
            </div>
            <div class="footer_2">
              <div class="footer_2_ul">
                <ul>
                  <li><a href="">컬리소개</a></li>
                  <li><a href="">컬리소개영상</a></li>
                  <li><a href="">투자정보</a></li>
                  <li><a href="">인재채용</a></li>
                  <li><a href="">이용약관</a></li>
                  <li><a href="">개인정보처리방침</a></li>
                  <li><a href="">이용안내</a></li>
                </ul>
              </div>
              <div class="footer_2_inform">
                법인명 (상호) : 주식회사 컬리 | 사업자등록번호: 261-8123567 <a href="">사업자정보 확인</a><br>
                통신판매업: 제 2018-서울강남-01646호 | 개인정보보호책임자: 이원준<br>
                주소:서울특별시 강남구 테헤란로 133, 18층(역삼동) | 대표이사: 김슬아<br>
                채용문의: <a href="">recruit@kurlycorp.com</a><br>
                팩스: 070-7500-6098
              </div>
    
              <div class="footer_2_imgul">
                <ul>
                  <li>
                    <a href="https://instagram.com/marketkurly" target="_blank" rel="noreferrer" class="css-9ipg3 ek68y4g0">
                    <img src="https://res.kurly.com/pc/ico/1810/ico_instagram.png" alt="컬리 인스타그램 바로가기"></a>
                  </li>
                  <li>
                    <a href="https://www.facebook.com/marketkurly" target="_blank" rel="noreferrer" class="css-9ipg3 ek68y4g0">
                    <img src="https://res.kurly.com/pc/ico/1810/ico_fb.png" alt="컬리 페이스북 바로가기"></a>
                  </li>
                  <li>
                    <a href="https://blog.naver.com/marketkurly" target="_blank" rel="noreferrer" class="css-9ipg3 ek68y4g0">
                    <img src="https://res.kurly.com/pc/ico/1810/ico_blog.png" alt="컬리 네이버블로그 바로가기"></a>
                  </li>
                  <li>
                    <a href="https://m.post.naver.com/marketkurly" target="_blank" rel="noreferrer" class="css-9ipg3 ek68y4g0">
                    <img src="https://res.kurly.com/pc/ico/1810/ico_naverpost.png" alt="컬리 네이버포스트 바로가기"></a>
                  </li>
                  <li>
                    <a href="https://www.youtube.com/channel/UCfpdjL5pl-1qKT7Xp4UQzQg" target="_blank" rel="noreferrer" class="css-9ipg3 ek68y4g0">
                    <img src="https://res.kurly.com/pc/ico/1810/ico_youtube.png" alt="컬리 유튜브 바로가기"></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <hr width="1050px">
          <div class="footer_3">
            <ul>
              <li>
                [인증범위]컬리 쇼핑몰 서비스 개발º운영<br>
                (심사받지 않은 물리적 인프라 제외)<br>
                [유효기간]2022.01.19~202501.18
              </li>
              <li>
                개인정보보호 우수 웹사이트<br>
                개인정보처리시스템 인증(ePRIVACY PLUS)
              </li>
              <li>
                토스페이먼츠 구매안전(에스크로)<br>
                서비스를 이용하실 수 있습니다.
              </li>
              <li>
                고객님이 현금으로 결제한 금액에 대해 우리은행과<br>
                채무지급보증 계약을 체결하여 안전거래를 보장하고<br>
                있습니다.
              </li>
            </ul>
          </div>
        </div>
        <div class="footer_end">
          컬리에서 판매되는 상품 중에는 컬리에 입점한 개별 판매자가 판매하는 
          마켓플레이스(오픈마켓) 상품이 포함되어 있습니다.<br>
          마켓플레이스(오픈마켓) 상품의 경우 컬리는 통신판매중계자로서 통신판매의
          당사자가 아닙니다. 컬리는 해당 상품의 주문,품질,교환/환불 등 의무와 책임을
          부담하지 않습니다.<br>
          ®KURLY CORP.ALL RIGHT RESERVED
        </div>
    </footer>
    <script src="/js/basket.js"></script>
</body>
</html>