.event_main{
    width: 1050px;
    margin: 0px auto;
}
.event_main_1{
    margin-bottom: 10px;
}
.event_a{
    background-color: transparent;
    text-decoration: none;
    color: inherit;
}

.event_img{
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
    border: 0;
}