<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/header_nav.css"
  th:herf="@{/css/header_nav.css}">
  <link rel="stylesheet" href="/css/newaccount.css"
  th:herf="@{/css/newaccount.css}">
  <link rel="stylesheet" href="/css/footer.css"
  th:href="@{/css/footer.css}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <style>
      body{font-family: 'Noto Sans KR', sans-serif;}
    </style>
  <title>Document</title>
</head>
<body>

  <div th:replace="~{page/header_nav :: header_nav}"></div>
  <div th:replace="~{page/header_nav :: header_sticky}"></div>

  <div class="makeAccount">
    <div class="title">
      회원가입
    </div>
    <div style="text-align:right; width:650px; margin: 0 auto; font-size: 12px;">
      필수입력사항
    </div>
    <hr style="width: 650px; border:1px solid black">
    <form action="" th:action class="account_form" method="post">
      <div class="div_form">
        <div class="form_label"><label for="">아이디<span style="color: red;">✷</span></label></div>
        <input type="text" th:if="${messageId == null}" placeholder="아이디를 입력해주세요" name="id">
        <input type="text" th:if="${messageId != null}"
               th:placeholder="${messageId}" placeholder="아이디를 입력해주세요" name="id">
<!--        <button type="button" class="form_btn" th:onclick="|location.href='@{/idCommonCheck/{id}}'|">중복확인</button>-->
      </div>
      <div class="div_form">
        <div class="form_label"><label for="">비밀번호<span style="color: red;">✷</span></label></div>
        <input type="password" th:if="${messagePw == null}" placeholder="비밀번호를 입력해주세요" name="password">
        <input type="password" th:if="${messagePw != null}"
               th:placeholder="${messagePw}"placeholder="비밀번호를 입력해주세요" name="password">
      </div>
      <div class="div_form">
        <div class="form_label"><label for="">비밀번호확인<span style="color: red;">✷</span></label></div>
        <input type="password" placeholder="비밀번호를 한번 더 입력해주세요">
      </div>
      <div class="div_form">
        <div class="form_label"><label for="">이름<span style="color: red;">✷</span></label></div>
        <input type="text" th:if="${messageName == null}" placeholder="이름을 입력해주세요" name="name">
        <input type="text" th:if="${messageName != null}"
               th:placeholder="${messageName}" placeholder="이름을 입력해주세요" name="name">
      </div>
      <div class="div_form">
        <div class="form_label"><label for="">이메일<span style="color: red;">✷</span></label></div>
        <input type="text" th:if="${messageEmail == null}" placeholder="예: marketkurly@kurly.com" name="email">
        <input type="text" th:if="${messageEmail != null}"
               th:placeholder="${messageEmail}" placeholder="예: marketkurly@kurly.com" name="email">
<!--        <button type="button" class="form_btn">중복확인</button>-->
      </div>
      <div class="div_form">
        <div class="form_label"><label for="">주소<span style="color: red;">✷</span></label></div>
        <input type="text" th:if="${messageAddress == null}" placeholder="주소를 입력하세요" name="address">
        <input type="text" th:if="${messageAddress != null}"
               th:placeholder="${messageAddress}" placeholder="주소를 입력하세요" name="address">
      </div>
      <div class="div_form">
        <div class="form_label"><label for="">성별</label></div>
        <span class="genderbtn"><input type="radio" name="gender"
          style="width: 25px; height: 25px; font-size: 14px; vertical-align: -5px;" value="man">남자</span>
        <span class="genderbtn"><input type="radio" name="gender"
          style="width: 25px; height: 25px; font-size: 14px; vertical-align: -5px;" value="woman">여자</span>
        <span class="genderbtn"><input type="radio" name="gender"
          style="width: 25px; height: 25px; font-size: 14px; vertical-align: -5px;" value="noCheck" checked>선택안함</span>
      </div>
      <div class="div_form">
        <div class="form_label"><label for="">생년월일</label></div>
        <input type="text" placeholder="YYYY-MM-DD" name="birth">
      </div>
      <input type="submit" value="가입하기">
    </form>
    <div style="margin-top: 30px;"></div>
  </div>


  <div th:replace="~{page/footer :: footer}"></div>
</body>
</html>